  <header style="margin: 0!important" class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img style="height: 55px; width: 55px; margin-right: 20px;" src="/images/logo.png" alt="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="/posts/newpost" class="nav-link px-2 link-dark">New Post</a></li>
        </ul>

        <form action="/results" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" name="q" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="col-md-3 text-end">
          <button style="color: #48b9a8ff; border-color: #48b9a8ff;" type="button" class="login-button btn btn-outline-primary me-2">Login</button>
          <button style="background-color: #48b9a8ff; border-color: #48b9a8ff;" type="button" class="singin-button btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header>