<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <head>
      <link rel="stylesheet" href="/css/myProfile.css">
    </head> 
<body>
    <%- include('partials/headerLoggedOn') %> 

    <div class="card user-card" style="width: 100;">
        <img src="/images/logo.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Caro Camblor</h5>
          <h6 class="card-subtitle mb-2 text-muted">@carocamblor</h6>
          <p class="card-text">Me encanta cocinar y por ac치 comparto todas mis recetas!</p>
          <p class="card-text follows">Followers: 100</p>
          <p class="card-text follows">Following: 100</p>
          <form action="/users/editprofile">
          <button type="submit" class="btn btn-secondary btn-sm">Edit Profile</button>
          </form>
        </div>
      </div>
    <main>
      <div class="card" style="width: 18rem;">
        <a class="streched-link" href="posts/postDetail">
        <img src="https://www.cookforyourlife.org/wp-content/uploads/2020/06/Dark-Chocolate-Brownies-shutterstock_112430981.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <a class="streched-link" href="posts/postdetail">
            <h4 class="post-title">Brownies</h4>
          </a>
          <a class="streched-link" href="posts/postdetail">
            <p class="post-description card-text">Los brownies m치s ricos que vas a probar. R치pidos y f치ciles!</p>
          </a>
          <hr>
          <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content">Muy buenooo!!</p>
              <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
              <p class="post-comment-content">Muy buenooo!!</p>
        </div>
    </main>

    <%- include('partials/footer') %> 
</body>
</html>