<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <head>
      <link rel="stylesheet" href="/css/postDetail.css">
    </head> 
<body>
    <%- include('partials/headerLoggedOn') %> 

      <div class="card post-detail">
        <div class="card-header title">
          Brownies
        </div>
        <div class="card-header username">
          <a class="streched-link" href="/users/userdetail">@carocamblor</a>
        </div>
        <div class="card-body">
          <section>
            <img src="https://www.cookforyourlife.org/wp-content/uploads/2020/06/Dark-Chocolate-Brownies-shutterstock_112430981.jpg" class="card-img-top" alt="...">
            <p class="card-text description">With supporting text below as a natural lead-in to additional content.</p>
          </section>
          <section>
            <h5 class="card-title">Ingredients</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In placeat dicta eaque adipisci quis. Soluta autem odio, dignissimos voluptatem eaque quidem omnis reiciendis assumenda dolorum quo rem dolore ipsam nemo. Velit facilis, officiis eum vero eligendi repudiandae ipsa dolore enim autem porro molestias error in debitis, totam corrupti veritatis soluta.</p>
            <h5 class="card-title instructions-title">Instructions</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate eligendi amet officiis vel dolorum esse dicta, quis odio adipisci molestiae quod odit commodi rem ducimus aut incidunt similique at omnis. Quos delectus maiores, perspiciatis reiciendis totam placeat necessitatibus ea consectetur, eos atque repellat tempora? Deleniti illum laboriosam illo in quae magni ut ullam, et iste libero exercitationem praesentium neque at qui non blanditiis harum dolorum ex quidem veniam porro temporibus? Quos voluptatibus illo iste suscipit libero blanditiis molestiae tempore fugit eum, dignissimos sunt repellat unde labore tenetur odio necessitatibus beatae commodi, sequi in quo ad earum quia. Asperiores, eveniet!</p>
          </section>
          <section>
            <h5 class="card-title">Comments</h5>
            <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
            <p class="post-comment-content">Muy buenooo!!</p>
            <br>
            <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
            <p class="post-comment-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nulla omnis laborum dolor quae maiores nam veritatis quaerat numquam perspiciatis!</p>
            <br>
            <a class="streched-link" href="/users/userdetail"><p class="post-username-comment">nombreusuario</p></a>
            <p class="post-comment-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, alias?</p>
            <br>
            <h5 class="card-title leave-comment-title">Leave a comment</h5>
            <form class="form-comment">
                  <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Comment</button>
              </form>
          </section>
        </div>
      </div>

    <%- include('partials/footer') %> 
</body>
</html>