div.user-card {
    display: grid;
    width: 100;
    grid-template-columns: 20% 80%;
}

div.user-card img {
  height: 160px;
  width: 160px;
  place-self: center;
}

div.user-card p {
  margin: 0 0 8px;
}

div.user-card p.follows {
  display: inline;
  margin-right: 8px;
}

div.user-card button {
  background-color: palevioletred;
  border-color: palevioletred;
  display: block;
  margin-top: 8px;
}

div.user-card button:hover {
  background-color: rgb(182, 79, 113);
  border-color: rgb(182, 79, 113);
}